logging:
  level:
    de:
      uol:
        pgdoener:
          civicsage: DEBUG
    org:
      springframework:
        ai:
          chat:
            client:
              advisor: DEBUG
spring:
  datasource:
    username: example
    password: example
    url: jdbc:mariadb://localhost:3306/example
civicsage:
  bootstrap:
    data:
      directory: ./data
  s3:
    url: http://localhost:3900
    access-key: <Key ID>
    secret-key: <Secret key>
    region: garage
    bucket:
      name: civicsage-bucket
