logging.level.de.uol.pgdoener.civicsage=DEBUG
logging.level.org.springframework.ai.chat.client.advisor=DEBUG
spring.datasource.username=example
spring.datasource.password=example
spring.datasource.url=jdbc:postgresql://localhost:5432/example
s3.url=http://localhost:3900
s3.access.id=<Key ID>
s3.access.secret=<Secret key>
s3.bucket.name=civicsage-bucket
s3.region=garage
civicsage.startup.data.directory=./data
